# Mac files
.DS_Store
*/.DS_Store

# vscode
.history/
.vscode/

# Optional npm cache directory
.npm

# Dependency directories
node_modules/

#parcel
.cache
dist/*
!dist/index.html

# Logs
logs
*.log
npm-debug.log*
